@font-face {
	font-family: 'Segoe UI';
	src: url('Segoe_UI.ttf');
}

html {
	font-family: 'Segoe UI';
	font-size: 19px;
	-webkit-user-select: none;
}

body {
	background-color: #3C92FF;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: 'Segoe UI';
	color: white;
}

	body:hover {
		cursor: default;
	}

textarea {
	resize:none;
}

a {
	color: inherit;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background: none;
}

::-webkit-scrollbar-track:vertical {
	background: none;
}

::-webkit-scrollbar-thumb {
	width: 8px;
	height: 20px;
	background: #555;
	border-radius: 5px;
}

.topbar {
	width: 100%;
	height: 20px;
	float: left;
	background-color: white;
}

.fixed {
	width: 100%;
	position: fixed;
	height: 115px;
}

.inputAreaCont {
	padding: 20px;
	width: 700px;
	height: 110px;
}

.inputArea {
	width:700px;
	margin-top:32px;
	margin-left:30px;
}

.inputTxt {
	margin-left:12px;
}

.inputTxt, .inputCont, .submitButton {
	display:inline-block;
}

html, body {
	overflow:hidden;
	height:775px;
	width:700px;
}

.closeButton {
	margin-left:48px;
}

	.closeButton:hover {
		background-color: #F44336;
	}

.optionsButton, .minimizeButton, .closeButton {
	display:inline;
	cursor: pointer;
	-webkit-app-region: no-drag;
	position:absolute;
	padding:0 2px;
}

.minimizeButton {
	margin-left: 24px;
} 
	
.optionsButton, .minimizeButton {
	opacity:1;
}

	.optionsButton:hover, .minimizeButton:hover {
		background-color:rgb(170,170,170);
	}

.draggablearea {
	-webkit-app-region: drag;
	display:inline-block;
	width: 428px;
	height: 20px;
}

.firstTimeTitle {
	font-size:250%;
	font-weight:bold;
	text-align: center;
}

.firstTimeTxt {
	padding: 0 10px;
	font-size:130%;
}

.bindingTxt, .URLTxt {
	font-size:250%;
	font-weight:bold;
	display:inline-block;
}

.firstTimeInputs {
	padding: 0 10px;
}

.URLTxt {
	margin-left:170px;
}

.navFromFirstTime {
	width:100%;
	text-align: center;
}

input {
	border:3px solid transparent;
	margin:3px;
}

.firstTimeContainer {
	display:none;
	height:638px;
	overflow-y:scroll;
}

.removeField {
	cursor: pointer;
	display: inline-block;
	font-size: 175%;
	position: absolute;
	margin-top: -6px;
	margin-left: 5px;
}

.removeField:hover {
	font-weight:bold;
}

.options {
	padding:10px;
	height: 633px;
	overflow-y: scroll;
}

.colorPickInput {
	border:2px solid white;
}

.hideSettings {
	margin-left:20px;
}

.inputCont, .unfocused-underline {
	width:350px;
}

paper-input {
	float: inherit;
}

.goButton {
	margin-left:20px;
}

paper-checkbox {
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: -2px
}

.checkboxtext {
	display:inline;
}

.bindingInput, .rightInput {
	border: 3px solid transparent;
}

.firstTimeInput, .firstTimeInput .unfocused-underline {
	width: 300px;
}

.bindingsContainer .bindingsSettingsInput, .bindingsContainer .bindingsSettingsInput .unfocused-underline {
	width: 150px;
}

	.bindingsContainer .urlSettingsInput, .bindingsContainer .urlSettingsInput .unfocused-underline {
		width: 450px;
	}

.addInputs {
	margin-top: 20px;
}

.addInputs, .reloadBindings {
	display: inline-block;
}

.removeInput, .shortcutSettings {
	min-width: 3em;
	margin-left: 20px;
	display:inline-block;
}

.settingsInput .actualinput {
	border: 3px solid transparent;
}

.firstTimeDefaultsCont {
	padding-left: 10px;
}


.addDefaultInput, .addDefaultInput .unfocused-underline {
	width: 250px;
}

.defaultWebsiteCont {
	padding:7px;
	width:300px;
	text-align:center;
}

.firstTimeDefaultsTxt {
	font-size: 200%;
	font-weight: bold;
}

.fab {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	margin-left: 612px;
	margin-top: 557px;
	z-index: 5;
	cursor:pointer;
}

	.fab paper-ripple {
		width: 50px;
		height: 50px;
		border-radius: 25px;
	}

	.fab svg {
		margin-top: 10px;
		margin-left: 10px;
	}

.mainCont {
	width: 100%;
	height:100%;
}

.newBindingPopup {
	width: 100%;
	height: 140px;
	position: fixed;
	z-index: 10;
	margin-left:100%;
	margin-top: 302px;
}

.overlay, .overlay2 {
	margin-top:20px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	opacity:0;
	z-index: 5;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.topShadowLayer {
	width: 100%;
	position: absolute;
	z-index: 15;
	box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
	height:100%;
}

.bottomShadowLayer {
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
	width: 100%;
	position: absolute;
	z-index: 15;
	height:100%;
}

.addNewContainer {
	position:absolute;
	z-index: 20;
	width:100%;
	padding-left:10px;
	padding-right:10px;
}

.newBindingTxt {
	font-weight: bold;
	font-size: 200%;
	text-align: center;
}

.addNewContainer .inputCont, .addNewContainer .unfocused-underline {
	width: 337px;
}

.addNewContainer .inputsField {
	margin-top: 5px;
}

.addBindingButtonCont {
	display: inline-block;
	float: right;
	margin-right: 30px;
}

.addBindingCancel, .addBindingAdd {
	display: inline-block;
	cursor: pointer;
}

	.addBindingCancel .button-content, .addBindingAdd .button-content {
		text-transform: uppercase;
		padding: 12px 30px;
	}

.paper-textarea {
	background-color: transparent;
	color: inherit;
}

multiline-paper-input .unfocused-underline {
	width: 100%;
}

.exportButtonsCont, .importButtonsCont {
	float: right;
	margin-top: -30px;
}

.exportButtonsCont {
	margin-top: -10px;
}

.bigTxt {
	font-size: 200%;
	font-weight: bold;
}

.importSearchEngineCont {
	position: fixed;
	z-index: 15;
	height: 325px;
	margin-top: 196px;
	margin-left:100%;
	width:100%;
}


.importSearchEngineContainer {
	padding: 10px;
	position: absolute;
	z-index:20;
}

.importSearchEnginesButtonCont {
	float: right;
}

.importSearchBindingsCancel, .processSearchEngines {
	display: inline-block;
	cursor: pointer;
}

	.importSearchBindingsCancel .button-content, .processSearchEngines .button-content {
		text-transform: uppercase;
		padding: 12px 30px;
	}

.assignKeyBindingCont {
	position: fixed;
	z-index: 20;
	margin-top: 90px;
	margin-left:100%;
	width:100%;
	overflow-y:visible;
}

.assignKeyBinding {
	height: 100%;
	width: 700px;
	z-index:20;
	position:relative;
}

.AKDescr, .AKBindings {
	padding: 0 10px;
}

.key {
	border: 1px solid #aaa;
	border-radius: 0.2em;
	box-shadow: 0.1em 0.2em 0.2em #ddd;
	background-color: #f9f9f9;
	color: black;
	background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
	padding: 0.1em 0.3em;
	font-size: 0.85em;
}

.actualinput {
	cursor: text;
}

.closeAssignKeyBinding {
	margin-left:595px;
	margin-bottom: 13px;
	margin-top: 20px;
}

.AKShortcut {
	width: 120px;
	display: inline-block;
	margin-left: 10px;
	text-align: center;
	border: 1px solid white;
	padding: 10px;
	margin-top:4px;
}

.AKShortcutSet {
	width: 130px;
	display: inline-block;
	margin-left: 10px;
	text-align: center;
}

.AKBindings {
	max-height: 400px;
	overflow-y: scroll;
}

.AKBinding {
	display: flex;
}

.assignShortcut {
	margin-top: 6px;
	background-color: green;
}

.swapShortcut {
	margin-top: 6px;
	background-color: blue;
}

.unAssignButton {
	margin-top: 18px;
	font-size: 150%;
	margin-left: 5px;
	min-width: 8em;
	background-color:#D32F2F;
}

.SEBindingTxt, .SEURLTxt, .SESEURLTxt {
	display: inline-block;
	font-size: 160%;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 15px;
}

.foundSearchEnginesCont {
	margin-top: 264px;
	position: absolute;
	z-index: 20;
}

paper-input.SEIName {
  width: 120px;
  margin-left: 5px;
}

paper-input.SEIUrl {
  margin-left: 5px;
  width: 130px;
}

paper-input.SEISUrl {
  margin-left: 5px;
  width: 342px;
}

.foundSearchEngines {
	overflow-y: scroll;
	height:400px;
}

.SEImportError {
	position: absolute;
	color: #F44336;
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0); }
	to { -webkit-transform: rotate(360deg); }
}

.loadingGif {
	position: absolute;
	z-index: 100;
	margin-left: 50%;
	margin-top:50%;
	-webkit-animation-name:spin;
	-webkit-animation-duration:500ms;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

.searchSearchBindings {
	margin-top:190px;
	position: absolute;
	z-index:20;
}

.searchSearchBindings paper-input {
	width:665px;
	margin-left:20px;
}

.searchSearchBindings .unfocused-underline {
	width:665px;
}

.searchSearchBindingsTxt {
	font-size:150%;
	padding-left:10px;
	font-weight: bold;
}

.askSEISURLNameCont {
	margin-left: 0;
	position: absolute;
	z-index: 30;
	margin-top: 267px;
	height: 155px;
	width: 700px;
}

.askNameContainer {
	z-index: 30;
	position: absolute;
	padding:10px;
}

.bigTxtNoBold {
	font-size: 200%;
}

.SECName, .SECName .unfocused-underline {
	width: 680px;
}

.importSearchEnginesChooseNameButtonCont {
	display: flex;
	float:right;
}

.SECNameCancel, .SECNameConfirm {
	padding: 10px 25px;
	cursor:pointer;
}

.importError {
	color: #F44336;
	font-weight: bold;
	margin-top:-10px;
	padding-bottom:4px;
	padding-left:31px;
}

.importSuccess {
	color: #4CAF50;
	font-weight: bold;
	margin-top: -10px;
	padding-bottom: 4px;
	padding-left: 31px;
}

.binderUpgradeContainer {
	padding: 10px;
	display:none;
}

.binderUpgradeTitle {
	font-size: 250%;
	font-weight: bold;
}